<?php /** * @var Infortis\UltraSlideshow\Block\Slideshow $this */ ?> <?php $slides = $this->getSlideIds(); ?> <?php if (!empty($slides)): ?> <?php $h = $this->getHelperData(); $isHomeSlideshow = $this->isPredefined(); $sliderHash = $this->getFrontendHash(); $sliderId = "slideshow-{$sliderHash}"; $bannersId = "slideshow-banners-{$sliderHash}"; $sliderClasses = []; $breakpoints = $this->getBreakpoints(); if ($breakpoints !== NULL) { $carouselMode = true; } else { $carouselMode = false; $fx = $this->getSlideTransition(); if ($fx === NULL) { $fx = $h->getCfg('general/effect'); } } $timeout = $this->getTimeout(); if ($timeout === NULL) { $timeout = intval($h->getCfg('general/timeout')); } else { $timeout = intval($timeout); } $loop = $this->getLoop(); if ($loop === NULL) { $loop = $h->getCfg('general/loop'); } $speed = intval($h->getCfg('general/speed')); $autoSpeed = intval($h->getCfg('general/auto_speed')); $pause = $h->getCfg('general/pause'); $smoothHeight = $h->getCfg('general/smooth_height'); $banners = $this->getAdditionalBannerId(); if ($banners) { $banners = $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($banners)->toHtml(); $classes = $this->getSlideshowLayoutClasses(); $sliderClasses[] = $classes['sliderGrid']; $sliderClasses[] = $classes['sliderPosition']; $bannersClasses[] = $classes['bannersGrid']; $bannersClasses[] = $classes['hideBanners']; } $navButtons = false; $navButtonsClasses = $this->getNavButtonsClasses(); if ($navButtonsClasses) { $navButtons = true; $sliderClasses[] = $navButtonsClasses; } $pagination = false; $paginationClasses = $this->getPaginationClasses(); if ($paginationClasses) { $pagination = true; $sliderClasses[] = $paginationClasses; } if ($isHomeSlideshow && $h->getCfg('general/hide')) { $sliderClasses[] = 'hidden-xs'; } ?> <?php if ($isHomeSlideshow): ?> <div class="slideshow-wrapper-additional" <?php echo $this->getMarginStyles(); ?>><?php endif; ?> <div class="slideshow-wrapper-outer"><div class="slideshow-wrapper <?php echo implode(' ', $sliderClasses); ?>"><div id="<?php echo $sliderId; ?>" class="slideshow owl-carousel"><?php if ($this->isMultiBlock()): ?> <?php foreach ($slides as $sid): ?> <?php if (!empty($sid)): ?> <div class="item"><?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($sid)->toHtml(); ?></div><?php endif; ?> <?php endforeach; ?> <?php else: ?> <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($slides[0])->toHtml(); ?> <?php endif; ?></div></div><?php ?> <?php if ($banners): ?> <div id="<?php echo $bannersId; ?>" class="slideshow-banners <?php echo implode(' ', $bannersClasses); ?>"><?php echo $banners; ?></div><?php endif; ?></div><?php ?> <?php if ($isHomeSlideshow): ?></div><?php ?> <?php endif; ?> <script type="text/javascript">
//<![CDATA[
requirejs(['jquery','owlcarousel'], function(jQuery, owlcarousel){ 

    jQuery(function($) {
        
        var owl = $('#<?php echo $sliderId; ?>');
        owl.owlCarousel({

            navigationText: false
            , addClassActive: true

        <?php if ($carouselMode): ?>
            , itemsCustom: [ <?php echo $breakpoints; ?> ]
            , responsiveRefreshRate: 50
        <?php else: ?>
            , singleItem: true

            <?php if (!empty($fx)):  ?>
                , transitionStyle: '<?php echo $fx; ?>'
            <?php endif; ?> <?php endif; ?> <?php if ($speed): ?>
            , slideSpeed: <?php echo $speed; ?>
        <?php endif; ?> <?php if ($autoSpeed): ?>
            , paginationSpeed: <?php echo $autoSpeed; ?>
        <?php endif; ?> <?php if ($timeout): ?>
            , autoPlay: <?php echo $timeout; ?>
        <?php endif; ?> <?php if ($pause): ?>
            , stopOnHover: true
        <?php endif; ?> <?php if ($loop): ?>
            , rewindNav: true
            , rewindSpeed: 600
        <?php else: ?>
            , rewindNav: false
        <?php endif; ?> <?php if ($pagination): ?>
            , pagination: true
        <?php else: ?>
            , pagination: false
        <?php endif; ?> <?php if ($navButtons): ?>
            , navigation: true
        <?php else: ?>
            , navigation: false
        <?php endif; ?> <?php if ($smoothHeight): ?>
            , autoHeight: true
        <?php endif; ?> , beforeInit: function() {
                var firstSlide = owl.find('.item:eq(0)');
                firstSlide.find('[data-animate-in]').each(function() {
                    $(this).addClass($(this).data('animate-in') + ' animated');
                });
            }

            <?php  ?> , afterMove: function() {
                owl.find('.owl-item.active [data-animate-in]').each(function() {
                    $(this).addClass($(this).data('animate-in') + ' animated');
                });
            }

            , beforeMove: function() {
                owl.find('.owl-item.active [data-animate-in]').each(function() {
                    $(this).removeClass($(this).data('animate-in') + ' animated');
                });
            }

        <?php if ($banners): ?>
            , afterInit: function() {
                owl.parent().parent().children('#<?php echo $bannersId; ?>').addClass('_show');
            }
        <?php endif; ?> }); 

    });

});
//]]>
</script><?php endif; ?>